.env
env.list
env_file.txt

__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
*.log
*.sqlite3
*.py[co]
**/__pycache__/
**/*.py[co]
**/*~
*.swp
*.swo
dist/
build/
*.egg-info/
.venv/
.eggs/
*.egg
*.so
*.so.*
*.dylib
*.test
cache/
.pytest_cache/
.ipynb_checkpoints/

