argcomplete==2.0.0
attrs==23.1.0
bcrypt==4.0.1
binaryornot==0.4.4
boolean.py==4.0
btrfsutil==6.6.2
camset==0.0.19
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crit==3.18
cryptography==41.0.7
dbus-python==1.3.2
defusedxml==0.7.1
distlib==0.3.7
distro==1.8.0
filelock==3.12.4
future==0.18.3
Glances==3.4.0.3
idna==3.4
importlib-metadata==5.0.0
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.2
keyring==24.2.0
lensfun==0.3.4
libtorrent==2.0.9
license-expression==30.1.2.dev0+gdd54f51.d20230801
lit==16.0.6.dev0
MarkupSafe==2.1.3
mercurial==6.6
more-itertools==10.1.0
mutagen==1.47.0
nftables==0.1
numpy==1.26.2
packaging==23.2
pipenv==2023.11.15
pipx==1.2.1
platformdirs==4.0.0
ply==3.11
protobuf==4.25.1
psutil==5.9.6
pyaml==23.9.0
pycairo==1.25.1
pycparser==2.21
PyGObject==3.46.0
pyOpenSSL==23.3.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
python-debian==0.1.49+git20230406
python-gnupg==0.5.1
pythondialog==3.5.3
pyxdg==0.28
PyYAML==6.0.1
Reflector==2023.6.28.0.36.1
requests==2.31.0
reuse==2.1.0
SecretStorage==3.3.3
shtab==1.6.4
six==1.16.0
systemd-python==235
TBB==0.2
termcolor==2.3.0
tldr==3.2.0
typing_extensions==4.8.0
ufw==0.36.2
ujson==5.8.0
urllib3==1.26.18
userpath==1.9.1
virtualenv==20.24.6
virtualenv-clone==0.5.7
websockets==10.4
zipp==3.17.0
